
body    {
    color: blue;

}
.service { color: aqua;}
.page {font-size: large;}

.media{
    background-color: blue;
    font-size: 12px;
    text-emphasis: none;
}

nav { color: #000;}
.manu { background-color: red;}
header{
    stroke-width: 0ch;
}
